body {
  background-color: white;
  font-family: 'Marmelad', regular;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Top Section */
.header {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  display: flex;
}

.header_title {
  padding-left: 55px;
  font-weight: bolder;
  font-size: 25px;
  opacity: .4;
  text-align: center;
  flex-grow: 9;
}

.menu_link {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 2px;
  cursor: pointer;
  opacity: .4;
  text-align: center;
  flex-grow: 1;
}

/* Main Section */
.main {
  width: 100%;
  height: 100%;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

.main_container {
  bottom: 0px;
  top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eee;
  text-align: center;
  height: 100%;
}

.doc_container {
  background-color: white;
  padding: 10px;
  margin-top: 15px;
}
